In [1]:
import pandas as pd
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import numpy as np
import sklearn
from sklearn.svm import SVR
from sklearn import linear_model
from sklearn import feature_selection
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor
from IPython.display import display # Allows the use of display() for DataFrames
%matplotlib inline

In [2]:
Data = pd.read_csv("/content/drive/MyDrive/BHG Model test/BHG_Preprocessed_dataset.csv")
Data.head()

   Unnamed: 0         y     var_1  ...  var_10_3  var_10_4  var_10_5
0           0  0.985685  0.351120  ...         0         1         0
1           1  0.970169  0.198878  ...         0         0         1
2           2  0.921798  0.377130  ...         0         0         0
3           3  0.703526  0.721077  ...         0         1         0
4           4  0.660075  0.318995  ...         1         0         0

[5 rows x 16 columns]

In [3]:
Data = Data.drop('Unnamed: 0',axis=1)
Data.head()

          y     var_1     var_2  ...  var_10_3  var_10_4  var_10_5
0  0.985685  0.351120  0.805808  ...         0         1         0
1  0.970169  0.198878  0.761638  ...         0         0         1
2  0.921798  0.377130  0.707738  ...         0         0         0
3  0.703526  0.721077  0.619257  ...         0         1         0
4  0.660075  0.318995  0.499755  ...         1         0         0

[5 rows x 15 columns]

In [4]:
#Splitting the data into target variable and independent variables
Y = Data['y']
X = Data.drop('y',axis=1)
print("target Feature\n")
display(Y.head(5))
print("\ndiscriptive Features\n")
display(X.head(5))

target Feature

0    0.985685
1    0.970169
2    0.921798
3    0.703526
4    0.660075
Name: y, dtype: float64

discriptive Features

      var_1     var_2     var_3  ...  var_10_3  var_10_4  var_10_5
0  0.351120  0.805808  0.157025  ...         0         1         0
1  0.198878  0.761638  0.151984  ...         0         0         1
2  0.377130  0.707738  0.171508  ...         0         0         0
3  0.721077  0.619257  0.495876  ...         0         1         0
4  0.318995  0.499755  0.161605  ...         1         0         0

[5 rows x 14 columns]

In [5]:
#Train test Split 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

# Linear Regression

##### Linear Regresion Model Training and Testing

In [6]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = regr.predict(X_test)

##### Evaluating the Linear Regression model

In [7]:
# # The coefficients
# print('Coefficients: \n', regr.coef_)
# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(y_test, y_pred))

Mean squared error: 0.01
Coefficient of determination: 0.76

# Regresions with different degrees

In [8]:
degrees = [1, 2, 3,]

y_train_pred = np.zeros((len(X_train), len(degrees)))
y_test_pred = np.zeros((len(X_test), len(degrees)))

for i, degree in enumerate(degrees):
    
    # make pipeline: create features, then feed them to linear_reg model
    model = make_pipeline(PolynomialFeatures(degree), linear_model.LinearRegression())
    model.fit(X_train, y_train)
    
    # predict on test and train data
    # store the predictions of each degree in the corresponding column
    y_train_pred[:, i] = model.predict(X_train)
    y_test_pred[:, i] = model.predict(X_test)

In [13]:

for i, degree in enumerate(degrees):
    train_r2 = round(sklearn.metrics.r2_score(y_train, y_train_pred[:, i]), 2)
    test_r2 = round(sklearn.metrics.r2_score(y_test, y_test_pred[:, i]), 2)
    print("Polynomial degree {0}: \n".format(degree))
    print('Mean squared error: %.4f' % mean_squared_error(y_test, y_test_pred[:, i]))
     # The coefficient of determination: 1 is perfect prediction
    print('R2 Score: %.4f'
      % r2_score(y_test, y_test_pred[:, i]))
    print("\n")

Polynomial degree 1:

Mean squared error: 0.0081
R2 Score: 0.7643


Polynomial degree 2:

Mean squared error: 0.0055
R2 Score: 0.8419


Polynomial degree 3:

Mean squared error: 0.0030
R2 Score: 0.9140

# Support vector Regressor

In [14]:
# Create linear regression object
SVRegressor = SVR(kernel='rbf')

# Train the model using the training sets
SVRegressor.fit(X_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [18]:
# Make predictions using the testing set
SVR_y_pred = SVRegressor.predict(X_test)

In [19]:
print('Mean squared error: %.4f'
      % mean_squared_error(y_test, SVR_y_pred))
# The coefficient of determination: 1 is perfect prediction
print('R2 Score: %.2f'
      % r2_score(y_test, SVR_y_pred))

Mean squared error: 0.0039
R2 Score: 0.89

# Decision Tree Regression

In [20]:
# Create linear regression object
DTRegressor = DecisionTreeRegressor(random_state=0)

# Train the model using the training sets
DTRegressor.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [21]:
# Make predictions using the testing set
DTR_y_pred = DTRegressor.predict(X_test)
r2_score(y_test,DTR_y_pred)

0.9186173535729593

In [22]:
print('Mean squared error: %.4f'
      % mean_squared_error(y_test,DTR_y_pred))
# The coefficient of determination: 1 is perfect prediction
print('r2 square: %.4f'
      % r2_score(y_test,DTR_y_pred))

Mean squared error: 0.0028
r2 square: 0.9186

# Random Forest Rgressor

In [23]:
# Create linear regression object
RRegressor = RandomForestRegressor(n_estimators=10, random_state=0)

# Train the model using the training sets
RRegressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=10, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [24]:
# Make predictions using the testing set
RF_y_pred = RRegressor.predict(X_test)

In [25]:
print('Mean squared error: %.4f'
      % mean_squared_error(y_test, RF_y_pred))
# The coefficient of determination: 1 is perfect prediction
print('r2 score: %.2f'
      % r2_score(y_test, RF_y_pred))

Mean squared error: 0.0012
r2 score: 0.96